* {
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  background-color: #0c0f27;
}
@media (min-width: 1200px) {
  body, html {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

section, footer, header {
  margin: 0 auto;
}

.icon--hamburger {
  padding-left: 2em;
  background: url(/responsive-layout/images/icons/hamburger.png) 0 0 no-repeat;
}

.text--allcaps {
  text-transform: uppercase;
}

.homepage header {
  background: url(/responsive-layout/images/hero/canoe.jpg) center/cover no-repeat;
  max-height: 56.0vw;
  height: 672.0px;
  max-width: 1200px;
}
@media (min-width: 1200px) {
  .homepage header {
    max-height: 672.0px;
  }
}

.homepage footer {
  background: url(/responsive-layout/images/footer/swimmer.jpg) center/cover no-repeat;
  max-height: 21.7vw;
  height: 260.4px;
  max-width: 1200px;
}
@media (min-width: 1200px) {
  .homepage footer {
    max-height: 260.4px;
  }
}

.homepage .grid-row {
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.homepage .grid-row .grid-item {
  height: 180px;
  width: 100%;
  background-color: #0c0f27;
  color: #dbdbdb;
}
.homepage .grid-row .grid-item:hover {
  background-color: #12163a;
  transition: background-color .2s;
}
.homepage .grid-row .grid-item:nth-child(2) {
  background-color: #101946;
}
.homepage .grid-row .grid-item:nth-child(2):hover {
  background-color: #15205b;
}
.homepage .grid-row--icons .grid-item {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.homepage .grid-row--icons .grid-item:hover p:after {
  transform: translateY(4px);
}
.homepage .grid-row--icons p {
  width: 100%;
  position: relative;
}
.homepage .grid-row--icons p:before, .homepage .grid-row--icons p:after {
  content: "";
  display: block;
  margin: 0 auto;
}
.homepage .grid-row--icons p:before {
  height: 75px;
  width: 75px;
}
.homepage .grid-row--icons p:after {
  background: url(/responsive-layout/images/icons/down-arrow.png) center no-repeat;
  margin-top: 1em;
  height: 20px;
  transition: transform .2s;
}
.homepage .grid-row--icons .grid-item:nth-child(1) > p:before {
  background: url(/responsive-layout/images/icons/submarine.png) center no-repeat;
}
.homepage .grid-row--icons .grid-item:nth-child(2) > p:before {
  background: url(/responsive-layout/images/icons/wheel.png) center no-repeat;
}
.homepage .grid-row--icons .grid-item:nth-child(3) > p:before {
  background: url(/responsive-layout/images/icons/dolphin.png) center no-repeat;
}
@media (min-width: 1200px) {
  .homepage .grid-row .grid-item {
    width: 33.33333%;
  }
}

.column-grid {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-grid--item {
  width: 33.33333%;
  height: 33.33333%;
  max-width: 100%;
  max-height: 100%;
  flex: 33.33333%;
}

.column-grid--item--double-height {
  height: 66.66667%;
  flex: 66.66667%;
}

.homepage .column-grid {
  height: 636px;
  max-height: 636px;
}

.homepage-portfolio {
  height: 100%;
  background-color: #0c0f27;
  color: #dbdbdb;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .homepage-portfolio {
    padding: 35px;
  }
}
.homepage-portfolio a {
  color: inherit;
  text-align: left;
  display: inline-block;
}
.homepage-portfolio > div {
  height: 100%;
  max-height: 50%;
}

.homepage .column-grid--item--primary {
  transition: all .1s;
}

@media (max-width: 1200px) {
  .homepage .column-grid {
    max-height: 53vw;
  }
  .homepage .column-grid--item--primary {
    width: 66.66667%;
    margin-left: -33.33333%;
  }
}
@media (max-width: 580px) {
  .homepage .column-grid--item:not(.column-grid--item--primary) {
    display: none;
  }
  .homepage .column-grid--item--primary {
    width: 100%;
    height: 100%;
    margin-left: 0;
  }
}
.column-grid--item--nyc {
  background: url(/responsive-layout/images/homepage/nyc.jpg) center/cover no-repeat;
}

.column-grid--item--sanfran {
  background: url(/responsive-layout/images/homepage/sanfran.jpg) center/cover no-repeat;
}

.column-grid--item--coast {
  background: url(/responsive-layout/images/homepage/coast.jpg) center/cover no-repeat;
}

.column-grid--item--london {
  background: url(/responsive-layout/images/homepage/london.jpg) center/cover no-repeat;
}

.column-grid--item--typewriter {
  background: url(/responsive-layout/images/homepage/typewriter.jpg) center/cover no-repeat;
}

.column-grid--item--bear {
  background: url(/responsive-layout/images/homepage/bear.jpg) center/cover no-repeat;
}
